---
layout: default
---
	
	<div class="post-content">
		{{ content }}
	</div>

	<div class="about">
		<img class="foto" src="/image/fotka.jpg" width="188" height="260">
			<div class="uvod">
				<p>Moje meno je <b>Martin Olejár</b>, mám 22 rokov a v súčasnosti som študentom <a href="http://www.fiit.stuba.sk/">
				Fakulty informatiky a informačných technológií</a> STU v Bratislave. Na tomto webovom sídle môžete nájsť mnoho informácií z môjho 
				osobného, školského a pracovného života a taktiež kontakt. V časti Blog sú uverejnené články, ktoré ma v poslednej dobe zaujali.</p>
			</div>
			</br>
			</br>
			</br>
			</br>
			</br>
		</img>
	</div>



